<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Dsalgo Suit" parallel="methods" thread-count="7" >
  

	 <test name="ChromeTest">
        <parameter name="Browser" value="${browser}"></parameter>
        <classes>
            <class name="testrunner.TestRunner"></class>
        </classes>
    </test> 
    
    
<!--	<test name="Edge">
        <parameter name="Browser" value="${browser}"></parameter>
        <classes>
            <class name="testrunner.TestRunner2"></class>
        </classes>
    </test> -->

</suite>

